#Questions ----
1. 
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

q2.
       ineuron
    ineuron   ineuron
ineuron   ineuron    ineuron
    ineuron   ineuron
        ineuron
        
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]
q3: Try to extract all the list entity
q4: Try to extract all the dict entities
q5: Try to extract all the tuples entities
q6: Try to extract all the numerical data it may be a part of dict key and values
q7: Try to give summation of all the numeric data
q8: Try to filter out all the odd values out of all numeric data which is a part of a list.
q9: Try to extract "ineuron" out of this data
q10: Try to find out a number of occurance of all the data
q11: Try to find out number of keys in dict element
q12: Try to filter out all the string data
q13: Try to find out alphanum in data
q14: Try to find out multiplication of all numeric value in the individual collection inside dataset
q15: Try to unwarp all the collection inside collection and creat a flat list.

Before 29th may 2022 3 PM IST you have to send an answer to me or to shivan
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [1]:
#Ans-1

for i in range (4):
    for j in range(i+1):
        print("ineuron", end =" ")
    print('\n')

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [2]:
#Ans-2
n=7
k = int(n/2)
for i in range(n):
    if i < k:
        for j in range(k-i):
            print("   ",end ="")
        for j in range(i+1):
            print("ineuron", end = " ")
        print("\n")
    else:
        for j in range(i-k):
            print("   ",end ="")
        for j in range(n-i):
            print("ineuron", end = " ")
        print("\n")

         ineuron

      ineuron ineuron

   ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

   ineuron ineuron ineuron

      ineuron ineuron

         ineuron

In [3]:
n=7
k = int(n/2)
for i in range(n):
    if i < k:
        p=(k-i)
        q=i+1
    else:
        p =(i-k)
        q=n-i
    for j in range(p):
        print("   ",end ="")
    for j in range(q):
        print("ineuron", end = " ")
    print("\n")

         ineuron

      ineuron ineuron

   ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

   ineuron ineuron ineuron

      ineuron ineuron

         ineuron

In [4]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","data science"]]

In [5]:
#Q3-Try to extract all the list entity
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [6]:
#Q4: Try to extract all the dict entities
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [7]:
#Q5: Try to extract all the tuples entities
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [8]:
for i in l:
    print(i,type(i))

[1, 2, 3, 4] <class 'list'>
(2, 3, 4, 5, 6) <class 'tuple'>
(3, 4, 5, 6, 7) <class 'tuple'>
{45, 4, 5, 23} <class 'set'>
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} <class 'dict'>
['ineuron', 'data science'] <class 'list'>

In [9]:
#Q6: Try to extract all the numerical data it may be a part of dict key and value
l1=[]
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if str(j).isnumeric():
                l1.append(j)
    if type(i)==dict:
        for key,value in i.items():
            if str(key).isnumeric():
                l1.append(key)
            if str(value).isnumeric():
                l1.append(value)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [10]:
#Q7: Try to give summation of all the numeric data
sum_of_all = 0
for a in l1:
    sum_of_all=sum_of_all+a
print(sum_of_all)

156

In [11]:
#Q8: Try to filter out all the odd values out of all numeric data which is a part of a list.
l2=[]
for i in l:
    if type(i)==list:
        for j in i:
            if str(j).isnumeric():
                if j%2 != 0:
                    l2.append(j)
print(l2)

[1, 3]

In [12]:
#Q9: Try to extract "ineuron" out of this data
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if j =='ineuron':
                print(j)
    if type(i)==dict:
        for key,value in i.items():
            if key =='ineuron':
                print(key)
            if value =='ineuron':
                print(value)

ineuron
ineuron

In [13]:
print(l[4]['k2'])
print(l[5][0])

ineuron
ineuron

In [14]:
#Q10: Try to find out a number of occurance of all the data
l2=[]
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            l2.append(j)
    if type(i)==dict:
        for key,value in i.items():
            l2.append(key)
            l2.append(value)
s1 = set(l2)
for e in s1:
    print(e, " : ",l2.count(e))

k2  :  1
1  :  1
2  :  2
3  :  4
4  :  4
5  :  3
6  :  3
7  :  2
k1  :  1
8  :  1
data science  :  1
ineuron  :  2
kumar  :  1
45  :  1
sudh  :  1
23  :  1
k3  :  1

In [15]:
#Q11: Try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
        print(len(list(i.keys())))

5

In [16]:
#Q12: Try to filter out all the string data
l3=[]
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if type(j)==str:
                l3.append(j)
    if type(i)==dict:
        for key,value in i.items():
            if type(key)==str:
                l3.append(key)
            if type(value)==str:
                l3.append(value)
print(l3)

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

In [17]:
#Q13: Try to find out alphanum in data
l4=[]
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if str(j).isalnum():
                l4.append(j)
    if type(i)==dict:
        for key,value in i.items():
            if str(key).isalnum():
                l4.append(key)
            if str(value).isalnum():
                l4.append(value)
print(l4)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron']

In [18]:
#Q14: Try to find out multiplication of all numeric value in the individual collection inside dataset
l5=[]
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        m,c=1,0
        for j in i:
            if str(j).isdigit():
                c+=1
                m=m*j
        if c>0:
            l5.append(m)
    if type(i)==dict:
        m,c=1,0
        for key,value in i.items():
            if str(key).isdigit():
                c+=1
                m=m*key
            if str(value).isdigit():
                m=m*value
                c+=1
        if c>0:
            l5.append(m)
print(l5)

[24, 720, 2520, 20700, 1008]

In [19]:
#Q15: Try to unwarp all the collection inside collection and creat a flat list.
l2=[]
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            l2.append(j)
    if type(i)==dict:
        for key,value in i.items():
            l2.append(key)
            l2.append(value)
print(l2)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']